*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.container{
    width: 500px;
    /* height: 350px; */
    padding: 2rem 0;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    color: green;
}git 

.reactions-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;

}

.reactions img{
   width: 50px;
}
.reactions{
    width: 125px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
 transition:  0.2s ease-in-out;
    border-radius: 10px;
}

.reactions:hover{
    background-color: #8FBC8F;
    color: white;
    font-weight:bold;
}

.container button{
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #008B8B;
    
}

.container .para{
font-size: 1.5rem;
text-align: center;
}

